
.btnWrap{
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: transparent !important;
}

.hidden{
    opacity:0;
    visibility:hidden;
    transform: translateX(200%);
    transition: .2s;

}
.visible{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: .2s;

}
